h1.h2
  ' Statistiken

h3.mt-5 Anzahl Anträge

= column_chart @proposals

h3.mt-5 Anträge im zeitlichen Verlauf

= column_chart @proposals_timeline

h3.mt-5 Kleine Anfragen nach § 24 BezVG

= column_chart @small_inquiries

h3.mt-5 Große Anfragen nach § 24 BezVG

= column_chart @large_inquiries

