h1.h2
  ' Statistiken
  br
  small.text-muted Alle Zahlen bezogen auf die aktuelle Wahlperiode

h3.mt-5 Anzahl Drucksachen

p.h1
  strong= number_with_delimiter @total_documents

h3.mt-5 Drucksachen im zeitlichen Verlauf

= column_chart @documents_timeline

h3.mt-5 Anzahl Anträge

= column_chart @proposals

h3.mt-5 Anträge im zeitlichen Verlauf

= column_chart @proposals_timeline

h3.mt-5 Kleine Anfragen nach § 24 BezVG

= column_chart @small_inquiries

h3.mt-5 Große Anfragen nach § 24 BezVG

= column_chart @large_inquiries

