h1.my-3 Warum gibt es BV-HH.de?

p
  | Wenn es schon ein offizielles Ratsinformationssystem für die Bezirksversammlungen in Hamburg gibt, warum diese Informationen
    doppelt vorhalten und sich die Arbeit mit einem zweiten System machen?

h2.h3 Weil es geht!

p
  | Zunächst ist BV-HH.de ein Hobby-Projekt, mit welchem ich begonnen habe, um herauszufinden, wie einfach es wohl ist, die
    Informationen aus dem offiziellen Ratsinformationssystem zu extrahieren und strukturiert auszuwerten. Insbesondere
    interessierten mich diverse Zahlen, wieviele Anträge gibt es in den unterschiedlichen Bezirken, in den verschiedenen
    Ausschüssen und wer (welche Fraktion) stellt eigentlich wo wie viele Anträge und Anfragen?

p
  | Als klar war, dass die Daten recht einfach zu bekommen sind, hat sich das ganze verselbständigt: Eine Ausweitung auf
    alle Bezirke war dann erstaunlich einfach, da (zum Glück) alle dasselbe System benutzen. Auch eine alternative
    Benutzeroberfläche war, als die Daten vorlagen, kein großes Problem mehr. Es gab da nämlich noch eine weitere
    Motivation:

h2.h3 Bessere und einfachere Benutzbarkeit

p
  | Ich bin schon einige Jahre Mitglied der Bezirksversammlung Hamburg-Nord und entsprechend regelmäßig habe ich das
    Ratsinformationssystem genutzt. Dabei hat mich insbesondere eine Sache immer wieder gestört: Die sehr mäßige
    Benutzbarkeit auf mobilen Geräten, insb. Smartphones. Dafür ist das aktuelle System einfach nie optimiert worden,
    es ist aber wahnsinnig praktisch, in einer Sitzung per Handy schnell etwas zu recherchieren oder auch nur die
    aktuelle Tagesordnung anzuschauen.

p
  | Darüber hinaus gibt es noch weitere Punkte, in denen das Ratsinformationssystem besser sein könnte: Die Suche
    ist schlecht bedienbar und häufig wenig nachvollziehbar, eine Suche über mehrere Bezirke hinweg ist gar nicht
    möglich (aber ein häufiger Anwendungsfall: "Wurde dies schon in einem anderen Bezirk beantragt?"). Auch die
    Geschwindigkeit des Systems lässt häufig zu wünschen übrig, viele Seiten sind auch wenig übersichtlich gestaltet
    und die arg kleine Schriftart macht es auch nicht einfacher.

h2.h3 Und was geht nicht?

p
  | Natürlich geht mein naiver Ansatz, die Daten einfach regelmäßig zu duplizieren, auch mit Einschränkungen einher:
    So sind nur öffentlich zugängliche Daten hier verfügbar, im originalen Ratsinformationssytem sind auch die
    nicht-öffentlichen Informationen nach Anmeldung für Mandatsträger*innen zugänglich. Diese Daten kann ich hier
    natürlich nicht abbilden. 
p
  | Bisher habe ich auch nur die wichtigsten Dinge synchronisiert, da fehlt aber auch noch eine Menge: So gibt es
    hier noch keine Informationen zu den Personen/Sitzungsteilnehmer*innen und die Sitzungskalender sind auch noch
    nicht vollständig. Hier taucht eine Sitzung erst auf, wenn auch eine Tagesordnung vorliegt.
    Und obwohl ich das Ratsinformationssystem regelmäßig automatisiert abfrage, müssen sich diese Abfragen in
    Grenzen halten, deshalb dauert es manchmal etwas, bis Daten hier auftauchen.

h2.h3 Wie geht's weiter?

p
  ' Immer wenn ich Zeit und Lust habe, entwickle ich hier ein bisschen weiter. Das System hinter BV-HH.de ist aber komplett
    Open Source und ich freue mich, wenn weitere Menschen Lust haben, mitzumachen! Details dazu sind auf
  strong>= link_to 'GitHub', 'https://github.com/bv-hh/bv-hh'
  ' zu finden.

p
  | Darüber hinaus freue ich mich natürlich über Anmerkungen, Ideen und auch Fehlermeldungen!

p
  ' Schreibt mir hier:
  = link_to 'timo@bv-hh.de', 'mailto:timo@bv-hh.de'

p
  strong> Übrigens:
  ' Auch dem Hamburger Senat ist diese Webseite bekannt und die Rechtmäßigkeit der Bereitstellung der Daten
    aus den Ratsinformationssystemen wurde bestätigt, wie aus der Antwort zu
  strong>= link_to 'dieser kleinen Anfrage', 'https://www.buergerschaft-hh.de/parldok/dokument/81001/mehr_transparenz_ist_zu_begruessen_aber_kontrolle_muss_auch_sein_was_hat_es_mit_der_homepage_https_bv_hh_de_auf_sich.pdf'
  ' hervorgeht.
