h1.my-3 Bezirkspolitik

p
  | Was sind die Aufgaben der Bezirke, wie arbeitet die Bezirkspolitik und zu welchem Bezirk gehöre ich eigentlich?

h2.h3 Zu welchem Bezirk gehöre ich?

p
  ' Fragen Sie im
  => link_to 'Hamburger Geoportal', 'https://geoportal-hamburg.de/'
  ' für Ihre Adresse ab, zu welchem Bezirk Sie gehören. Zusätzlich finden Sie dort auch Ihre Wahlbezirke für
    verschiedene Wahlen.

h2.h3 Wofür sind die Bezirke zuständig?

p
  ' Hamburg besteht aus sieben
  => link_to 'Bezirken', 'https://www.hamburg.de/leben-in-hamburg/bezirke-hamburg'
  ' (z. B. Hamburg-Mitte, Altona), die in Stadt- und Ortsteile unterteilt sind. Jeder Bezirk hat ein Bezirksamt,
    das sich um die Aufgaben im Bezirk kümmert, darunter der Bau von Gebäuden und Wegen, die Pflege von Grünflächen,
    um Wirtschaft, Sport, Stadteilkultur, Gesundheit und soziale Unterstützung. Um bezirksübergreifende Themen
    kümmern sich der
  => link_to 'Senat', 'https://www.hamburg.de/politik-und-verwaltung/senat'
  ' (Landesregierung der Stadt Hamburg) und seine nachgeordneten Fachbehörden (z.B. Schulbehörde).

p
  ' Die Einwohner eines Bezirks wählen alle fünf Jahre eine Bezirksversammlung. Wählen können alle, die mindestens
    16 Jahre alt sind und seit drei Monaten in Hamburg leben und die deutsche oder eine EU-Staatsbürgerschaft
    besitzen. Die Bezirksversammlung berät das Bezirksamt, kann bindende Beschlüsse fassen (z.B. Bau eines
    Spielplatzes) und kontrolliert die Verwaltung. Gesetze beschließt nur die
  => link_to 'Hamburgische Bürgerschaft', 'https://www.hamburgische-buergerschaft.de/'
  ' (Landesparlament) oder die Hamburgerinnen und Hamburger per
  = link_to 'Volksentscheid', 'https://www.hamburgische-buergerschaft.de/beteiligung/volksgesetzgebung'
  '.

h2.h3 So arbeitet die Bezirkspolitik

h3.h5 Bezirksversammlung

p
  | Die Bezirksversammlungen kontrollieren die Arbeit der Bezirksämter und können teilweise auch mitentscheiden,
    wofür Geld ausgegeben wird. Zusätzlich wählt die Bezirksversammlung die Bezirksamtsleiterinnen und -leiter,
    die der Senat anschließend ernennt. Darüber hinaus kontrollieren sie die Bezirksämter bei ihrer Arbeit, d.h.
    sie lassen sich über Pläne und Fortschritte informieren und können dazu Beschlüsse treffen. Die
    Bezirksversammlungen sprechen auch Empfehlungen an Fachbehörden aus, wenn eine Angelegenheit den Bezirk
    betrifft, aber eine Fachbehörde zuständig ist (z.B. zu einem Fahrradweg an einer Hauptstraße).

h3.h5 Ausschüsse

p
  | Die meisten Beschlüsse der Bezirksversammlung werden in Ausschüssen vorbereitet, die mit Mitgliedern der
    Bezirksversammlung besetzt sind. Ausschüsse sind jeweils für einen bestimmten Themenbereich zuständig und
    können Informationen oder Unterlagen vom Bezirksamt einfordern (Akteneinsicht) und ihre Mitglieder können
    Anfragen an ihre Bezirksamtsleitung sowie an die für das jeweilige Thema zuständige Fachbehörde stellen.

h3.h5 Fachausschüsse

p
  | Die Ausschüsse sind je nach Bezirk individuell zugeschnitten, hier das Beispiel Hamburg-Nord:

ul
  li Hauptausschuss (themenübergreifend, Koordination der Ausschüsse)
  li Ausschuss Bildung, Kultur und Sport
  li Ausschuss für Klimaschutz, Umwelt und Mobilität
  li Ausschuss für Wirtschaft, Arbeit und Digitalisierung
  li Ausschuss für Seniorinnen und Senioren, Integration, Inklusion, Gesundheit und Katastrophenschutz
  li Haushaltsausschuss
  li Jugendhilfeausschuss
  li Stadtentwicklungsausschuss
  li Vergabeausschuss

p
  | Darüber hinaus gibt es oft Regionalausschüsse für mehrere Stadtteile und zusätzlich Unterausschüsse für
    Bauangelegenheiten. Die Zuschnitte der Ausschüsse mit ihren Themen unterscheidet sich zwischen den sieben
    Hamburger Bezirken, da jede Bezirksversammlung selbst über die Aufteilung entscheiden kann.

p
  | Bis auf den Hauptausschuss sind die Ausschüsse selbst in der Regel nicht beschlussfähig sondern sprechen
    nur sogenannte Beschlussempfehlungen aus. Diese werden dann von der Bezirksversammlung oder dem Hauptausschuss
    bestätigt.

h2.h3 Von der Vorlage zum Beschluss

p
  | Die Vorgänge (Mitteilungen und Entscheidungen) der Bezirksversammlungen und der Ausschüsse werden in
    sogenannten Vorlagen (auch Drucksache genannt) vorbereitet. Jede Vorlage erhält eine Nummer, über die der
    Verlauf der Entscheidungsfindung nachvollziehbar ist. Die meisten Vorlagen sind öffentlich und damit frei
    zugänglich. Auf BV-HH wird darauf verlinkt. Folgende Arten von Vorlagen werden genutzt:

ul
  li Anträge einer oder mehrere Parteien
  li Beschlussvorlagen, z.B. vom Bezirksamt
  li Beschlussempfehlungen der Ausschüsse für Hauptausschuss oder Bezirksversammlung
  li Mitteilungsvorlagen des Vorsitzes, z.B. Bürgereingaben
  li Anfragen aus der Politik an Bezirksämter und / oder Fachbehörden
  li Mitteilungen des Bezirksamts (nachrichtlich)
  li Vorlagen des Bezirksamts mit Beschlussvorschlag

p
  | Anträge und Vorlagen können zur Kenntnis genommen, abgelehnt, mit oder ohne Änderung angenommen werden. Sie
    können auch an einen anderen Ausschuss zur Beratung überwiesen werden.

h2.h3 Bezirkspolitik im Internet: Die Ratsinformationssysteme

p
  | Jeder Bezirk hat sein eigenes Ratsinformationssystem mit allen Sitzungsterminen, Tagesordnungen und
    (öffentlichen) Drucksachen. Nichtöffentliche Drucksachen sind nur für eingeloggte Nutzer (Abgeordnete oder Ausschussmitglieder) einsehbar,
    der allergrößte Teil der Drucksachen ist aber öffentlich zugänglich.
    BV-HH fasst diese Infos für alle Bezirke zusammen und verlinkt direkt in die Ratsinformationssysteme.

.table-responsive
  table.table
    thead
      th Bezirk
      th Ratsinformationssystem

    tbody
      - District.all.by_order.each do |district|
        tr
          td= district.name
          - allris_url = "#{district.allris_base_url}/bi/allris.net.asp"
          td= link_to allris_url, allris_url, target: '_blank'

