.district
  .p-5.mb-4.bg-light.rounded-3
    h1 Moin!
    p.lead
      | BV-HH.de bietet einen übersichtlichen und schnellen Zugang zu allen öffentlichen Dokumenten der Hamburger Bezirksversammlungen.
        Bitte nutzen Sie die Suche, den Kalender oder wählen Sie unten einen der Hamburger Bezirke aus!
    p
      | Politik beschränkt sich nicht auf Wahlen. Bereichern Sie die Bezirkspolitik mit Ihrer Beteiligung. Dazu gibt es viele
        Möglichkeiten: Von der Beteiligung an öffentlichen Sitzungen, über Bürgereingaben, als Beisitzerin oder Beisitzer in
        Bezirksausschüssen bis hin zur Kandidatin oder Kandidat für die Bezirksversammlung, können Sie Bezirkspolitik aktiv
        mitgestalten und sich einbringen. Die dafür nötigen Informationen sind nicht immer leicht zu finden, BV-HH.de versucht
        hierzu einen Einstieg und eine Informationssammlung zu bieten.
    p
      ' Weitere Informationen zur Bezirkspolitik und Beteiligungsmöglichkeiten finden Sie auf den Unterseiten
      = link_to 'Bezirkspolitik', district_politics_path
      ' und
      = link_to 'Beteiligung', participation_path
      '.
    hr.my-4
    p
      strong
        ' Wichtig!
      ' Dies ist keine offizielle Seite der Stadt Hamburg, sondern nur eine Kopie der Informationen aus den offiziellen
        Ratsinformationssystemen der Bezirke.
      ' Über das Symbol
      => allris_icon
      ' gelangen Sie zur jeweiligen Quelle. Nur dort sind verbindliche Informationen und Dokumente zu finden!
      ' Aber
      = link_to 'wozu soll das hier gut sein?', about_path

  .row.justify-content-center
    - District.all.by_order.each do |district|
      .col-12.col-sm-6.col-md-4.col-lg-3.mb-4
        .card
          .card-body
            = link_to root_with_district_path(district) do
              h5.card-title= district.name
            p.card-text
              => number_with_delimiter district.documents.complete.count
              | Drucksachen
