h1.my-3 Impressum

h3 Dienstanbieter im Sinne von § 5 TMG:

p
  | Timo B. Kranz
  br
  | c/o fortytools gmbh
  br
  | Hamburger Straße 3-5
  br
  | 22926 Ahrensburg

p
  | Email: timo@bv-hh.de

h3 Inhaltlich verantwortlich ist:

p
  | Timo B. Kranz

h3 Datenquellen

p
  | Die Straßen- und Stadtteildaten dieser Seite stammen aus dem
  = ' '
  = link_to 'Geoportal Hamburg', 'https://geoportal-hamburg.de/', target: '_blank'
  |  und stehen unter der
  = ' '
  = link_to 'Datenlizenz Deutschland – Namensnennung – Version 2.0', 'https://www.govdata.de/dl-de/by-2-0', target: '_blank'
  | . Die Namensnennung lautet:

blockquote.blockquote.ms-3
  p.mb-0
    | Datenquelle: Freie und Hansestadt Hamburg, Landesbetrieb Geoinformation und Vermessung (LGV)

ul
  li
    strong Zentraler AdressService
    |  (dog:Strassen): amtliches Straßenverzeichnis, Grundlage der Ortserkennung in Drucksachen.
  li
    strong ALKIS Verwaltungsgrenzen Hamburg
    |  (app:stadtteile): Grenzen der Bezirke und Stadtteile, Grundlage der Stadtteilseiten.

p
  | Die Kartendarstellung nutzt Kartenkacheln von
  = ' '
  = link_to 'OpenStreetMap', 'https://www.openstreetmap.org/copyright', target: '_blank'
  | , © OpenStreetMap-Mitwirkende.
