h1.my-3 Beteiligung

p
  | Wie kann ich mich in die politischen Prozesse in den Bezirken einbringen und welche Fördermöglichkeiten für Initiativen bestehen vor Ort?

h2.h3 Sich einbringen

p
  | Es gibt eine Reihe von Möglichkeiten, in den Bezirken Anregungen einzubringen oder sich an Entscheidungen zu
    beteiligen. Hier finden Sie die Beteiligungsmöglichkeiten und Kontakte für den jeweiligen Bezirk.

h3.h5 Eingaben

p
  | Mit Eingaben können Sie sich mit Anregungen, Bitten oder Beschwerden direkt an die Bezirksversammlungen
    wenden, den Kontakt und weitere Informationen hierzu finden Sie auf folgender Seite Ihres Bezirks:

.table-responsive
  table.table
    thead
      th Bezirk
      th Link zur Webseite
      th Mail
      th Postanschrift

    tbody
      tr
        td Altona
        td= link_to 'Online-Eingabe', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/altona/bezirksversammlung/eingaben-55492'
        td= link_to 'bezirksversammlung@altona.hamburg.de', 'mailto:bezirksversammlung@altona.hamburg.de'
        td Bezirksversammlung Altona, Platz der Republik 1, 22765 Hamburg
      tr
        td Bergedorf
        td= link_to 'Online-Eingabe', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/bergedorf/buergerservice/online-eingabe-56256'
        td= link_to 'eingaben@bergedorf.hamburg.de', 'mailto:eingaben@bergedorf.hamburg.de'
        td Geschäftsstelle der Bezirksversammlung Bergedorf, Wentorfer Straße 38, 21029 Hamburg
      tr
        td Eimsbüttel
        td= link_to 'Online-Eingabe', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/bezirksamt-eimsbuettel/bezirksversammlung/online-eingaben-61890'
        td= link_to 'bezirksversammlung@eimsbuettel.hamburg.de', 'mailto:bezirksversammlung@eimsbuettel.hamburg.de'
        td Geschäftsstelle der Bezirksversammlung Eimsbüttel, Grindelberg 62–66, 20144 Hamburg
      tr
        td Hamburg-Mitte
        td= link_to 'Online-Eingabe', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/mitte/bezirksversammlung/eingaben-online-67142'
        td= link_to 'bezirksversammlung@hamburg-mitte.hamburg.de', 'mailto:bezirksversammlung@hamburg-mitte.hamburg.de'
        td Geschäftsstelle der Bezirksversammlung Hamburg-Mitte, Caffamacherreihe 1–3, 20355 Hamburg
      tr
        td Harburg
        td= link_to 'Online-Eingaben Harburg', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/harburg/bezirksversammlung/online-eingaben-798524'
        td= link_to 'bezirksversammlung@harburg.hamburg.de', 'mailto:bezirksversammlung@harburg.hamburg.de'
        td Geschäftsstelle der Bezirksversammlung Harburg, Harburger Rathausplatz 1, 21073 Hamburg
      tr
        td Hamburg-Nord
        td= link_to 'Online-Eingabe', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/hamburg-nord/eingaben-bezirksversammlung-und-ausschuesse-71374'
        td= link_to 'bezirksversammlung@hamburg-nord.hamburg.de', 'mailto:bezirksversammlung@hamburg-nord.hamburg.de'
        td Geschäftsstelle der Bezirksversammlung Hamburg-Nord, Kümmellstraße 7, 20249 Hamburg
      tr
        td Wandsbek
        td= link_to 'Online-Eingabe', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/wandsbek/bezirksversammlung-wandsbek/eingaben-439122'
        td= link_to 'bezirksversammlung@wandsbek.hamburg.de', 'mailto:bezirksversammlung@wandsbek.hamburg.de'
        td Geschäftsstelle der Bezirksversammlung Wandsbek, Schloßstraße 60, 22041 Hamburg

h3.h5 Themen, um die sich andere Stellen kümmern

p
  ' Für Müll und Verschmutzung im öffentlichen Raum hat die Stadtreinigung die Hotline "Saubere Stadt" mit der
    Telefonnummer 25761111 und ein
  => link_to 'Kontaktformular "Saubere Stadt"', 'https://www.stadtreinigung.hamburg/kontakt/kontaktformular.html?kontakt=Verschmutzungshotline'
  ' im Internet eingerichtet und eine App bereitgestellt.

p
  ' Schäden oder Einschränkungen an der öffentlichen Infrastruktur (Straßen, Laternen, Bänken, Schildern usw.)
    können Sie online über den
  => link_to '"Melde-Michel"', 'https://www.hamburg.de/melde-michel/'
  ' mitteilen.

h3.h5 Öffentliche Sitzungen

p
  | Die meisten Sitzungen der Bezirksversammlungen und deren Ausschüsse sind öffentlich, d.h. alle Interessierten
    können die Sitzungen besuchen und zu Beginn Fragen zu kommunalpolitischen Themen stellen. Die Fragen sollten
    kurz und sachbezogen sein und können dem vorsitzenden Mitglied vor der Fragestunde schriftlich oder während
    der Fragestunde mündlich gestellt werden. Nach der Antwort kann eine Nachfrage gestellt werden.

h3.h5 Mitgliedschaft in Beiräten

p
  | Zusätzlich zu den Ausschüssen gibt es in den Bezirken Beiräte, die die Ausschüsse zu bestimmten Themen beraten
    und die aus separat gewählten (nicht politischen) Mitgliedern bestehen oder einfach offen für alle
    Interessierten sind. Sie bringen die Perspektiven von Hamburgerinnen und Hamburgern ein, die ansonsten häufig
    unterrepräsentiert sind, wie z.B. Seniorinnen und Senioren, Jugendliche oder wegen ausländischer
    Staatsbürgerschaft nicht Wahlberechtigte, oder sorgen für eine stärkere Beteiligung vor Ort (z.B.
    Stadtteilräte).

p
  | Diese Beiräte gibt es in den Bezirken. Die Links führen zu Webseiten mit Infos zum Mitmachen:

.table-responsive
  table.table
    thead
      th Bezirk
      th Beiräte
      th Link zur Webseite
      th Kontakt

    tbody
      tr
        td Altona
        td
          | Stadtteilrat Altona-Altstadt
          br
          | Stadtteilrat Borner Runde
          br
          | Stadtteilbeirat Luruper Forum
          br
          | Stadtteilbeirat Sternschanze
        td
          = link_to 'Stadtteilrat Altona-Altstadt', 'https://stadtteilbeiraete-hamburg.de/stadtteilbeirat/stadtteilrat-altona-altstadt/'
          br
          = link_to 'Stadtteilrat Borner Runde', 'https://stadtteilbeiraete-hamburg.de/stadtteilbeirat/borner-runde/'
          br
          = link_to 'Stadtteilbeirat Luruper Forum', 'https://stadtteilbeiraete-hamburg.de/stadtteilbeirat/stadtteilbeirat-luruper-forum'
          br
          = link_to 'Stadtteilbeirat Sternschanze', 'https://stadtteilbeiraete-hamburg.de/stadtteilbeirat/stadtteilbeirat-sternschanze'
        td
          | info@stadtteilrat.de, c/o HausDrei, Hospitalstraße 107, 22767 Hamburg
          br
          | Bürgerhaus Bornheide, Bornheide 76E, 22549 Hamburg
          br
          | 040 524 732 66, 0162 205 51 80, info@borner-runde.de
          br
          | Stadtteil-Kultur-Büro im Stadtteilhaus Lurup, Böverstland 38, 22547 Hamburg, 040 280 55 553, info@unser-lurup.de
          br
          | Stadtteilbeirat Sternschanze, c/o Standpunkt.Schanze e.V., Postfach 306247, 20328 Hamburg, 040 60942027, info@standpunktschanze.de
      tr
        td
        td Weitere Stadtteil- und Quartiersbeiräte (Übersicht)
        td= link_to 'hamburg.de – Bezirksversammlung Altona', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/altona/bezirksversammlung'
        td Kontakte über die Geschäftsstelle der Bezirksversammlung Altona
      tr
        td Bergedorf
        td Seniorenbeirat Bergedorf
        td= link_to 'hamburg.de – Bergedorf', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/bergedorf'
        td Über die Bezirksversammlung Bergedorf erreichbar
      tr
        td Eimsbüttel
        td Inklusionsbeirat Eimsbüttel
        td= link_to 'hamburg.de – Bezirksversammlung Eimsbüttel', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/bezirksamt-eimsbuettel/bezirksversammlung'
        td Hans-Jürgen Rehder (Ansprechperson)
      tr
        td
        td Bezirks-Seniorenbeirat (BSB) Eimsbüttel
        td= link_to 'hamburg.de – Bezirksversammlung Eimsbüttel', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/bezirksamt-eimsbuettel/bezirksversammlung'
        td Über die Bezirksversammlung Eimsbüttel erreichbar
      tr
        td Hamburg-Mitte
        td Stadtteil- und Quartiersbeiräte (Übersicht)
        td= link_to 'hamburg.de – Bezirksamt Hamburg-Mitte – Beiräte', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/mitte/bezirksamt'
        td Kontaktinformationen auf den verlinkten Seiten der jeweiligen Beiräte
      tr
        td Harburg
        td Seniorenbeirat
        td= link_to 'hamburg.de – Seniorenbeirat Harburg', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/harburg/themen/familie-jugend-senior-innen/senioren/seniorenbeirat-63896'
        td Über die Geschäftsstelle der Bezirksversammlung Harburg, Harburger Rathausplatz 1, 21073 Hamburg
      tr
        td
        td
          | Harburger Integrationsrat (HIR)
          br
          | Stadtteilbeirat Neuwiedenthal
        td
          = link_to 'Harburger Integrationsrat', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/harburg/themen/soziales/integration/harburger-integrationsrat-64780'
          br
          = link_to 'Stadtteilbeirat Neuwiedenthal', 'https://stadtteilbeiraete-hamburg.de/stadtteilbeirat/stadtteilbeirat-neuwiedenthal/'
        td
          | -
      tr
        td Hamburg-Nord
        td Regionalausschüsse (Langenhorn-Fuhlsbüttel-Ohlsdorf-Alsterdorf-Groß Borstel, Barmbek-Uhlenhorst-Dulsberg, Eppendorf-Winterhude)
        td= link_to 'hamburg.de – Bezirksamt Hamburg-Nord', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/hamburg-nord'
        td Über die Bezirksversammlung Hamburg-Nord, Kümmellstraße 7, 20249 Hamburg
      tr
        td Wandsbek
        td Stadtteil- und Quartiersbeiräte (Übersicht)
        td= link_to 'hamburg.de – Bezirksamt Wandsbek – Beiräte', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/wandsbek'
        td Kontakte in der Broschüre „Zuhause in Wandsbek“ oder über die Bezirksversammlung Wandsbek

h3.h5.mt-4 Weitere Beteiligungsmöglichkeiten

p.mt-3
  strong Beteiligung.Hamburg – die Online-Beteiligung in Hamburg
p
  ' Auf
  => link_to 'Hamburgs Beteiligungsplattform', 'https://beteiligung.hamburg/navigator/'
  ' werden regelmäßig Online-Beteiligungen für unterschiedlichste Themen veröffentlicht. Dort kann nach Bezirken
    gefiltert werden.

p
  strong Bürgerbegehren und Bürgerentscheide
p
  | Bürgerbegehren und anschließende Bürgerentscheide sind auch auf Bezirksebene möglich. Damit können
    wahlberechtigte Einwohnerinnen und Einwohner im Zuständigkeitsbereich der Bezirksversammlung direkt
    Entscheidungen bewirken. Das Bürgerbegehren ist der erste Schritt, es ist ein Antrag auf Durchführung eines
    Bürgerentscheides. Dafür müssen innerhalb von sechs Monaten je nach Größe des Bezirks Unterschriften von
    mindestens 2% bis 3% der wahlberechtigten Einwohnerinnen und Einwohner des Bezirks gesammelt werden.
    Anschließend kann die Bezirksversammlung dem Anliegen direkt zustimmen oder einen Bürgerentscheid
    durchführen. Das Bürgerbegehren muss schriftlich von drei Personen beim Bezirksamt angemeldet werden.
p
  ' Detaillierte Infos und Beratung zum Vorgehen hat der Verein Mehr Demokratie e.V.
  = link_to 'zusammengestellt', 'https://hh.mehr-demokratie.de/themen/direkte-demokratie/buergerbegehren'
  '.

p
  strong Direktes Gespräch
p
  | Die Möglichkeiten, direkt mit Abgeordneten der Bezirksversammlungen ins Gespräch zu kommen, sind vielfältig
    und unterscheiden sich in den Bezirken und Stadtteilen. Viele Parteien bieten in den Bezirken regelmäßig
    Bürgersprechstunden an, informieren oder diskutieren bei Veranstaltungen zu bestimmten Themen. Darüber
    hinaus kann man im Vorfeld von öffentlichen Sitzungen ggf. mit "seinen" Abgeordneten ins Gespräch kommen.

h2.h3 Förderung von Initiativen und Projekten

p
  | Initiativen und Projekte für ein gutes Miteinander und Angebote in den Stadtteilen können bei den Bezirken
    Zuschüsse beantragen:

ul
  li
    strong> Bezirkliche Sondermittel:
    ' Für Projekte im Bezirk, die die Bezirksversammlung als förderungswürdig betrachtet.
  li
    strong> Förderfonds „Vertrag für Hamburg“:
    ' Für Projekte zur Steigerung der Attraktivität, Lebensqualität und Werthaltigkeit des Bezirks.
  li
    strong> Quartiersfonds:
    ' Jeder Bezirk hat einen sogenannten „Quartiersfonds“ zur Unterstützung der Stadtteilarbeit und
      Stadtteilentwicklung, insbesondere zur Stärkung der sozialen Infrastruktur.

h3.h5 Bezirk Altona

p
  ' Übersicht zu allen Fördermöglichkeiten im Bezirk:
  = link_to 'hamburg.de – Finanzplanung Altona', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/altona/themen/soziales/finanzplanung-50954'

h3.h5 Bezirk Bergedorf

p
  ' Antragsberechtigt sind Vereine, Initiativen und Gruppen, aber auch Einzelpersonen. Finanziert werden
    vorrangig gemeinnützige Maßnahmen sowie Projekte im und für den Stadtteil Bergedorf:
  = link_to 'hamburg.de – Sondermittel Bergedorf', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/bergedorf/buergerservice/sondermittel-56580'

h3.h5 Bezirk Eimsbüttel

p
  ' Vergabe von Sondermitteln der Bezirksversammlung Eimsbüttel zur Förderung von Initiativen im Bezirk:
  = link_to 'hamburg.de – Sondermittel Eimsbüttel', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/bezirksamt-eimsbuettel/bezirksversammlung/sondermittel-der-bezirksversammlung-58382'

h3.h5 Bezirk Harburg

p
  ' Fördermittel für Harburger Initiativen, Vereine, Institutionen und gemeinnützige Einrichtungen
    (Sondermittel, Vertrag für Hamburg und Quartiersfonds):
  = link_to 'hamburg.de – Fördermittel Harburg', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/harburg/bezirksversammlung/foerdermittel-64272'

h3.h5 Bezirk Mitte

p
  ' Bezirkliche Sondermittel insbesondere für gemeinnützige Einrichtungen des Bezirks Hamburg-Mitte, um
    Maßnahmen und Projekte finanzieren zu können:
  = link_to 'hamburg.de – Sondermittel Mitte', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/mitte/bezirksversammlung/sondermittel-67160'

p
  ' Quartiersfonds zur Unterstützung von Einrichtungen, Projekten und Strukturen im Bezirk, die wichtig für die
    Stadtteile sind:
  = link_to 'hamburg.de – Quartiersfonds Mitte', 'http://www.hamburg.de/politik-und-verwaltung/bezirke/mitte/themen/soziales/quartiersfonds-67878'

h3.h5 Bezirk Nord

p
  ' Unterstützung von Vorhaben (Projekte/Maßnahmen) der Initiativen und Vereine im Bezirk:
  = link_to 'hamburg.de – Sondermittel Hamburg-Nord', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/hamburg-nord/hinweise-fuer-die-beantragung-von-sondermitteln-fuer-vorhaben-im-bezirk-71398'

h3.h5 Bezirk Wandsbek

p
  ' Förderung von Projekten für Wandsbeker Bürgerinnen und Bürger. Förderzwecke können die Durchführung von
    sozialen und gemeinnützigen Vorhaben, Beschaffungen oder Baumaßnahmen im Bezirk sein:
  = link_to 'hamburg.de – Finanzabwicklung Wandsbek', 'https://www.hamburg.de/politik-und-verwaltung/bezirke/wandsbek/themen/freizeit-und-kultur/finanzabwicklung-84750'
