h1.my-3 Transparenz

p
  | Immer wieder erreichen mich Anfragen von Menschen, die ihren Namen oder ihre Daten von dieser
    Seite entfernt oder deindexiert haben möchten. In der Regel komme ich dem nach, da es sich bei
    den politisch Aktiven auf Hamburger Bezirksebene meist nicht um Personen des öffentlichen Lebens
    handelt. Zudem gibt es noch keine ausreichende Rechtssprechnung zu der Frage, wie der Schutz
    der persönlichen Daten ggü. dem Transparenzgesetz zu gewichten ist, insb. da die originalen
    Drucksachen durch die Bezirksverwaltungen in der Regel nicht nachträglich abgeändert werden
    und online verfügbar bleiben.

p
  | Aus Gründen der Transparenz möchte ich hier aber zumindest die ursprünglichen URLs im jeweiligen
    Ratsinformationssystem dokumentieren, die auf dieser Seite abgeändert, deindexiert oder entfernt wurden.
    Dabei ist zu beachten: Es handelt sich um Links auf externe Seiten, auf die ich keinen Einfluss
    habe und für deren Inhalt ausschließlich die jeweilige Betreiberin verantwortlich ist.

dl
  dt= '05.09.2025'
  dd= link_to 'https://sitzungsdienst-hamburg-mitte.hamburg.de/bi/vo020.asp?VOLFDNR=1018265', 'https://sitzungsdienst-hamburg-mitte.hamburg.de/bi/vo020.asp?VOLFDNR=1018265'
