
$red: #e10019
$blue: #003064

$light-blue: #005ca9
$gray: #f0f0f0

$primary: $red
$link-color: $light-blue

$enable-responsive-font-sizes: true

@import 'bootstrap'

@import 'font-awesome-sprockets'
@import 'font-awesome'

.navbar
  background-color: $blue

body.districts.show
  .table > tbody > tr:first-child > td
    border-top: none

.jumbotron p.lead b
  font-weight: 700
